*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('backmj.jpg');    
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}
.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
}
.gallery img{
    width: 100%;
    height: auto;
}
nav{
    background-image: url('designs/scsc.jpg');    
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}
nav a {
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    padding: 20px 10px;
    font-family: arial;
}
ul {
margin: 10px;
}
ul li {
    list-style:none;
    display: inline-block;
    float: left;
    line-height: 100px;
}
ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: arial ;
    
    color: yellow;
    padding: 0 20px; 
}
ul li a:hover {
    color: rgb(0, 255, 225);
    background-color: #4488ee;
}
h1{
    font-size: 40px;
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient(to right, #f32170,
                    #ff6b08, white, #eedd44);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}
h3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f32170,
            #ffea08, white, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
h4{
    text-align: center ;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f32170,
            #ff6b08, white, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
footer{
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f32170,
            #ff6b08, white, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 1px;
}

